*{ /*general*/
    font-family: 'Roboto';
}
body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}
#feedback{
    color: black;
    text-decoration: underline;
}
a.feedback{
    color: black;
    text-decoration: underline;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #CCC;
}

.row{
    margin: 0px;
}

.container-fluid{
    padding: 0px;
}

.btn-primary{
    background-color: white;
    color: black;
    text-decoration: underline;
    border: 3px solid white;
    padding: 6px;
    margin-left: 6px;
}
.btn-primary:hover{
    background-color: #535353;
    border: 3px solid #535353;
    margin-left: 6px;
    padding: 6px;
}
.msg{
    background-color: #535353;
    color: white;
    border: 1px solid #535353;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}
#navbar img{
    width: 40px;
}
#navbar{
    justify-content: space-between;
    background-color: white;
    padding: 5px 0;
}

#navbar a{
    font-size: 14px;
    color: #535353;
}

#navbar a:hover{
    background-color: #535353;
    color: white;
}

#search-container{
    background-image: url('https://miro.medium.com/freeze/max/600/1*82D2cg8Gpe9CVISaph6RPg.gif');
    background-position: left center;
    background-repeat: repeat;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #525053;
    margin: 30px;
    font-weight: 900;
}
#search-container form{
    width: 50%;
    margin: 0 auto;
}

#events-container {
    padding: 50px;
}

#events-container  h2{
    margin-bottom: 10px;
}

#events-container .subtitle{
    color: #535353;
}

#cards-container{
    display: flex;
}

#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 1px;
    margin: 0.5%;
}

#events-container img{
    max-height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: #535353;
}

.card .card-title{
    color: #535353;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
/* Event page*/
#image-container,#info-container{
    margin-top: 30px;
    
}
#image-container img{
    
    border-radius: 10px;
}
#info-container h1{
    font-size: 36px;
    font-weight: bold;
}
#info-container p{
    margin: 0px;
    font-size: 14px;
    display: flex;
}
#info-container h3,#description-container h3{
    font-size: 20px;
    font-weight: bold;
}
#info-container ion-icon{
    font-size: 20px;
    color: #525053;
    margin-right: 5px;
}
#info-container #event-submit{
    margin: 20px 0;
}

#itens-list{
    list-style: none;
    padding-left: 0px;
}
#itens-list li{
    display: flex;
}
/* Dashboard*/
.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-events-container th{
    width: 25%;
}
.dashboard-events-container form{
    display: inline-block;
}
/* edit event*/

.img-preview{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}


/* Event footer*/
footer{
    text-align: center;
    background-color: #535353;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/*description cotainer*/
#description-container{
    margin-top: 30px;
}

/* Event create container*/
#event-create-container{
    padding: 30px;
    margin: auto;
}
#event-create-container label{
    font-weight: bold;
}
.form-group{
    padding: 10px;
}
#event-create-container input,
#event-create-container select,
#event-create-container textarea{
    font-size: 12px;
}